body {
    background-image: url(record.png);
    margin: 0%;
}

header {
    background-color: teal;
    color: yellow;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}